<ul>
    <% if(active_games !== undefined && active_games.length > 0) { %>
    <% active_games.array.forEach(element => {
        
    }); (game => { %>
        <li>
            <a href="/game/<% game.game_code %>">
                <%= game.game_name %>
            </a>
        </li>
    <% })} else { %>
        <p> No games being played</p>
        <% } %>
</ul>