<nav>
    <a href="/" > Home</a>  
    <% if (loggedIn) { %>
        <a href="/auth/logout"> Logout</a>
        <a href="/creategame">Create Game</a>
        <a href="/activegames"> Your Games</a>
        <a href="/lobby" > Lobby</a>
    <% } else { %>
        <a href="/login"> Login</a>
    <% } %>
    
    <a href="/signup" > Sign Up</a>
</nav>