<%- include ('template', { pageTitle: 'Active Games', pageContent:''}) %>
<!DOCTYPE html>
<%- include ('template', { pageTitle: 'Lobby', pageContent:''}) %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../frontend/static/templatestyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>
    <h1>Here are your active games</h1>
    <ul></ul>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>

    <script>
        const socket = io.connect("http://localhost:3000");
        socket.emit("active_games", user.username.username);
        console.log("WE MADE IT", user.username);
        socket.on("why", (data) => {
        data.array.forEach(element => {
            const li = document.createElement('li');
            li.textContent = element.game_name;
            const a = document.createElement('a');
            a.setAttribute("href=/game/" + element.game_code);
            document.querySelector('ul').appendChild(li);
        });
    });
    </script>
</body>
</html>