<%- include('template', { pageTitle: 'Global Lobby', pageContent:'' }) %>
<main>
    <body>    <%- include ('./partials/lobby_chat.ejs') %>
    </body>
    
    <ul></ul>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    
    <script> // we should probably move this to front end global_lobby.js and then include the script fk it
       
    
    
    
    
        // listening for mesages from the serverrrr
        socket.on("message", (messageData) => {
            const content = messageData.content;
            const sender = messageData.sender;
            const timestamp = messageData.timestamp;
    
            const li = document.createElement('li');
            li.textContent = timestamp + ' ' + sender + ' ' + content ;
            console.log(messageData);
            document.querySelector('ul').prepend(li);
        });
    </script>
    
</main>
