<%- include('template', { pageTitle: 'Global Lobby', pageContent:'' }) %>
<main>
    <h1> Current Games </h1>
    <ul>
        <% if (games === undefined) { %>
            <p> Error fetching games </p>
        <% } else { %>
            <% if (games.length === 0) { %>
                <p> No games available </p>
            <% } else { %>
                <p> WE HAVE GAMES</p> 
                <% for (let i = 0; i < games.length; i++) { %>
                    <a class ="active-games-button" href="/game/<%= games[i].game_code %>">
                        <%= games[i].game_name %>
                    </a><br>
                <% } %>
            <% } %>
        <% } %>
               
    </ul>

    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    
    <script> // we should probably move this to front end global_lobby.js and then include the script fk it
       
    
    
    
    
        // listening for mesages from the serverrrr
        socket.on("message", (messageData) => {
            const content = messageData.content;
            const sender = messageData.sender;
            const timestamp = messageData.timestamp;
    
            const li = document.createElement('li');
            li.textContent = timestamp + ' ' + sender + ' ' + content ;
            console.log(messageData);
            document.querySelector('ul').prepend(li);
        });
    </script>
    
</main>
