body{
    background-color:#171717;
    color:rgb(108, 168, 139);
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-color: #456a53;
    padding: 10px;
}

main{
    background-color:rgb(68, 68, 68);
    color:black;
    padding: 50px;
    border-radius: 25px;
    font-family: 'ADLaM Display';
}

header {
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    background: #505353;
    color: white;
    font-size: 30px;
  }

a:link {
    color: black;
    font-family: 'ADLaM Display';
  }

.header-button {
    background-color: #456a53;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'ADLaM Display';
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:  -2px 2px 10px rgb(51, 63, 51);
  }

  .user-forms {
    display: inline-block;
    width: 25%;
    padding: 20px;
    background-color:#456a53;
    border: 2px solid black;
    border-radius: 12px;
  }

  .form-button {
    background-color: #5c8f6f;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'ADLaM Display';
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }